Import **Pandas** and **SpaCy** library

In [30]:
#!pip install pandas
#!pip install spacy
import pandas as pd
import spacy
from spacy.matcher import PhraseMatcher
from collections import defaultdict

Load **Data**

In [31]:
data = pd.read_json('data/restaurant.json')
data.head()

                   review_id  ...                date
109   lDJIaF4eYRF4F7g6Zb9euw  ... 2013-01-27 17:54:54
1013  vvIzf3pr8lTqE_AOsxmgaA  ... 2015-04-15 04:50:56
1204  UF-JqzMczZ8vvp_4tPK3bQ  ... 2011-03-20 00:57:45
1251  geUJGrKhXynxDC2uvERsLw  ... 2018-07-17 01:48:23
1354  aPctXPeZW3kDq36TRm-CqA  ... 2018-01-21 10:52:58

[5 rows x 9 columns]

Create a **list** that contains all menu items in the restaurant

In [32]:
menu = ["Cheese Steak", "Cheesesteak", "Steak and Cheese", "Italian Combo", "Tiramisu", "Cannoli",
        "Chicken Salad", "Chicken Spinach Salad", "Meatball", "Pizza", "Pizzas", "Spaghetti",
        "Bruchetta", "Eggplant", "Italian Beef", "Purista", "Pasta", "Calzones",  "Calzone",
        "Italian Sausage", "Chicken Cutlet", "Chicken Parm", "Chicken Parmesan", "Gnocchi",
        "Chicken Pesto", "Turkey Sandwich", "Turkey Breast", "Ziti", "Portobello", "Reuben",
        "Mozzarella Caprese",  "Corned Beef", "Garlic Bread", "Pastrami", "Roast Beef",
        "Tuna Salad", "Lasagna", "Artichoke Salad", "Fettuccini Alfredo", "Chicken Parmigiana",
        "Grilled Veggie", "Grilled Veggies", "Grilled Vegetable", "Mac and Cheese", "Macaroni",  
         "Prosciutto", "Salami"]

Load **SpaCy Model**

In [33]:
nlp = spacy.blank('en')

Create **PhraseMatcher** object

In [34]:
matcher = PhraseMatcher(nlp.vocab, attr='LOWER')

Create **a list of tokens** for each item in the menu

In [35]:
menu_tokens_list = [nlp(item) for item in menu]

Add the **item patterns** to the **matcher**

In [36]:
matcher.add("MENU", menu_tokens_list)

Matching on the **whole dataset**

In [37]:
item_ratings = defaultdict(list)

for idx, review in data.iterrows():
    doc = nlp(review.text)
    matches = matcher(doc)

    found_items = set([doc[match[1]:match[2]].text.lower() for match in matches]) 

    for item in found_items:
        item_ratings[item].append(review.stars)

Inspecting **item_ratings**<br>


*   **item_ratings** is a Python dictionary
*   **menu item** as **keys**
*   **list of rating (stars)** as **values**

In [38]:
print(item_ratings)

defaultdict(<class 'list'>, {'chicken parmigiana': [4, 5, 4, 5, 5, 5, 5, 5, 4, 4, 4, 3, 4, 5, 5, 4, 5], 'eggplant': [4, 3, 1, 5, 4, 3, 4, 3, 4, 5, 4, 5, 5, 5, 3, 5, 5, 5, 4, 5, 4, 5, 4, 4, 4, 5, 5, 5, 2, 5, 5, 5, 5, 4, 3, 5, 5, 5, 5, 5, 5, 4, 2, 4, 3, 5, 5, 5, 3, 4, 4, 5, 5, 2, 4, 4, 5, 5, 2, 5, 2, 5, 4, 4, 3, 5, 1, 5, 5], 'pizza': [5, 2, 3, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 2, 5, 1, 4, 3, 5, 5, 5, 4, 5, 5, 5, 5, 3, 3, 4, 4, 5, 5, 5, 5, 2, 3, 5, 5, 5, 5, 5, 4, 5, 4, 4, 4, 5, 4, 4, 3, 5, 5, 5, 4, 5, 5, 5, 4, 5, 3, 3, 5, 4, 4, 5, 5, 5, 4, 5, 4, 5, 1, 4, 5, 3, 5, 5, 4, 5, 5, 5, 5, 5, 5, 4, 2, 5, 4, 5, 3, 5, 5, 5, 5, 5, 1, 4, 4, 5, 3, 4, 5, 5, 5, 5, 4, 2, 5, 5, 2, 5, 5, 2, 5, 5, 5, 4, 5, 5, 5, 1, 5, 5, 5, 5, 5, 4, 5, 5, 4, 4, 5, 5, 5, 5, 5, 4, 5, 5, 4, 5, 1, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 3, 4, 5, 5, 5, 2, 3, 5, 5, 5, 5, 4, 4, 4, 3, 5, 5, 5, 3, 2, 5, 1, 5, 5, 3, 5, 5, 4, 4, 5, 5, 4, 3, 4, 4, 4, 4, 2, 5, 3, 5, 4, 4, 3, 5, 4, 3, 4, 5, 5, 4, 5, 1, 5, 5, 4, 5, 5, 5, 3, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 3, 4, 5, 5, 5, 3, 4, 5, 4, 5, 1, 4, 5, 4, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 4], 'steak and cheese': [5, 5, 5, 5, 4, 5, 5, 5, 5], 'meatball': [1, 3, 3, 5, 5, 5, 4, 5, 5, 4, 3, 5, 5, 5, 1, 4, 5, 5, 3, 1, 5, 4, 4, 5, 5, 5, 5, 5, 5, 2, 1, 4, 5, 4, 4, 4, 5, 4, 5, 5, 5, 5, 5, 4, 5, 1, 4, 4, 4, 5, 5, 5, 5, 4, 3, 5, 5, 3, 5, 2, 5, 2, 5, 5, 5, 5, 5, 4, 5, 5, 3, 4, 5, 5, 2, 4, 4, 5, 4, 5, 5, 5, 5, 2, 4, 5, 5, 5, 5, 4, 5, 3, 3, 2, 4, 5, 4, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 3, 5, 5, 5, 5, 3, 5, 5, 1, 4, 5, 4, 5, 1, 4, 3, 5, 4, 3, 3, 4], 'pasta': [2, 4, 5, 4, 5, 5, 3, 5, 4, 5, 5, 5, 5, 4, 5, 5, 4, 2, 5, 5, 4, 5, 4, 5, 5, 3, 5, 4, 5, 5, 5, 4, 4, 5, 3, 4, 3, 3, 4, 5, 5, 5, 5, 5, 4, 5, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 3, 4, 5, 4, 4, 5, 5, 5, 5, 5, 4, 5, 4, 5, 5, 5, 3, 5, 5, 5, 5, 4, 5, 2, 5, 5, 5, 3, 5, 5, 5, 4, 5, 5, 4, 5, 5, 3, 4, 5, 5, 5, 1, 5, 5, 5, 5, 4, 4, 1, 1, 5, 5, 5, 5, 4, 5, 4, 4, 4, 4, 5, 4, 4, 5, 5, 3, 3, 5, 4, 5, 4, 4, 4, 5, 3, 3, 5, 4, 5, 5, 3, 4, 4, 5, 3, 4, 4, 5, 4, 4, 4, 4, 5, 4, 3, 5, 5, 5, 4, 5, 5, 5, 5, 5, 4, 4, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 3, 5, 4, 5, 5, 3, 5, 5, 4, 5, 4, 4, 4, 5, 4, 5, 5, 5, 5, 1, 5, 4, 5, 4, 5, 5, 5, 5, 4], 'cannoli': [2, 5, 5, 5, 5, 1, 3, 5, 4, 5, 4, 5, 5, 5, 2, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 4, 3, 4, 5, 5, 5, 5, 5, 5, 3, 4, 3, 5, 5, 5, 5, 3, 5, 5, 5, 4, 4, 5, 5, 4, 5, 5, 5, 5, 5, 1, 5, 4, 5, 5, 5, 2, 5, 5, 5, 4, 4, 5, 4, 5, 5], 'prosciutto': [5, 5, 4, 5, 5, 5, 5, 4, 5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 1, 5, 4, 5, 5, 5, 5, 4, 5, 4, 4, 5, 4, 5, 5, 4, 5, 5, 5, 5, 4, 5, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5], 'purista': [5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 3, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 3, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, 4, 5, 5, 4, 4, 5, 4, 5, 2, 5, 5, 5, 4, 5, 5, 5], 'cheese steak': [4, 5, 5, 5, 4, 4, 5, 2, 5, 2, 5, 5, 4, 5, 4, 5, 4, 4, 5, 5, 4, 5, 4, 3, 5, 2, 4, 5, 4, 4, 4, 4, 5, 5, 5, 2, 3, 5, 5, 5, 2, 5, 5, 5, 4, 4, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 4, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 4], 'cheesesteak': [3, 3, 5, 5, 4, 5, 5, 4, 5, 3, 3, 5, 4, 5, 4, 5, 4, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 3, 5, 4, 5, 5, 5, 4, 3, 5, 2, 5, 5, 5, 5, 5, 4, 5, 1, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 3, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 3, 5, 5, 5, 5, 5, 1, 4, 5, 5, 5, 4, 5, 5], 'calzone': [3, 5, 5, 4, 5, 5, 3, 5, 5, 4, 5, 4, 5, 5, 3, 5, 5, 5, 4, 5, 4, 5, 5, 5, 5, 5, 1, 4, 3, 4, 5, 5, 2, 4, 5, 5, 5, 5, 5, 4, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 3, 2, 5, 4, 2, 5, 4, 5, 5, 5, 5, 5, 4, 5, 5, 4, 5], 'tiramisu': [5, 5, 5, 5, 5, 5, 5, 3, 4, 5, 4, 5, 4, 4, 4, 2, 2, 4, 4, 4, 5], 'italian combo': [5, 1, 4, 5, 4, 5, 5, 3, 4, 5, 5, 5, 3, 1, 4, 1, 5, 5, 5, 5, 5], 'chicken spinach salad': [5, 4], 'italian beef': [3, 5, 3, 5, 4, 4, 4, 2, 4, 5, 5, 4, 5, 5, 5, 3, 2, 4, 5, 3, 5, 4, 1, 3, 5], 'salami': [4, 5, 5, 5, 2, 5, 5, 4, 5, 5, 4, 4, 5, 1, 5, 5, 4, 4, 5, 5, 5, 5, 4, 4, 2, 4, 4, 4], 'chicken parm': [1, 4, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 4, 4, 3, 5, 4, 5, 5, 1, 5, 5, 5, 5, 1, 4, 5, 4, 4, 5, 3, 5, 4, 3, 5, 5, 5, 5, 4, 4, 5, 4, 4, 4, 1, 5], 'turkey sandwich': [4, 1, 5, 4, 5], 'ziti': [4, 5, 5, 5, 5, 2, 5, 5, 5, 5, 5, 5, 4, 3, 5, 4, 4, 3, 5, 4, 4], 'tuna salad': [4, 5, 5, 5, 1], 'chicken pesto': [4, 5, 5, 5, 4, 5, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 5, 3, 4, 4, 5, 5, 5], 'chicken cutlet': [4, 3, 5, 5, 3, 2, 5, 5, 1, 1], 'artichoke salad': [5, 5, 5, 5, 5], 'lasagna': [5, 5, 5, 5, 4, 5, 3, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 5, 4, 3, 5, 5, 5, 5, 4, 4, 4, 5, 5, 4, 5, 5, 2, 4, 5, 5, 5, 5, 5, 5, 5, 1, 2, 5, 5, 5, 5, 3, 4, 5, 5, 5, 5, 1, 5], 'fettuccini alfredo': [5, 5, 5, 5, 5, 5], 'pizzas': [5, 4, 5, 1, 5, 4, 4, 4, 4, 5, 4, 5, 4, 4, 2, 4, 5, 4, 5, 4, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4], 'turkey breast': [5], 'calzones': [4, 5, 3, 5, 5, 4, 5, 5, 5, 5, 4, 5, 4, 4, 5, 5, 5, 5, 4, 4, 5, 5, 5, 5, 4, 4, 5, 5, 3, 4, 5, 5, 4, 5, 4], 'grilled veggie': [5, 5, 4, 5, 5, 3], 'mac and cheese': [5, 5, 5, 5, 4, 5, 5, 5, 5, 4, 1], 'garlic bread': [5, 3, 5, 4, 4, 5, 4, 5, 5, 4, 5, 4, 4, 3, 4, 5, 5, 5, 5, 5, 4, 5, 5, 4, 2, 5, 3, 5, 5, 4, 2, 3, 5, 5, 5, 1, 1, 4, 4], 'spaghetti': [4, 4, 3, 3, 5, 4, 5, 5, 5, 2, 4, 5, 4, 5, 1, 2, 5, 5, 4, 3, 5, 2, 2, 3, 5, 5, 4, 5, 5, 4, 5, 2, 4, 1, 5, 5], 'italian sausage': [4, 1, 4, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 5, 4, 5, 3, 5, 5, 1, 5, 3, 5, 5, 4, 5, 4, 5, 1, 5, 3, 5, 5, 5, 5, 4, 5, 4, 4, 4, 5, 4, 4, 4, 5, 1, 5, 5, 5, 5, 5, 5, 5], 'portobello': [5, 5, 5, 5, 5, 5, 1, 5, 5, 4, 4, 5, 5, 4], 'pastrami': [4, 5, 5, 2, 5, 5, 4, 5, 5], 'reuben': [4, 5, 5, 5], 'gnocchi': [4, 4, 5, 5, 5, 5, 5, 4, 5, 3, 5, 2, 5, 1, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 4, 5, 5, 3, 5, 5, 5, 5, 5, 4, 5, 4, 5], 'chicken parmesan': [5, 5, 5, 3, 5, 5, 5, 5, 5, 4, 3, 3, 5, 4, 2, 5, 4, 4, 4], 'macaroni': [3, 4, 3, 5, 5], 'chicken salad': [4, 5, 5, 5, 4], 'roast beef': [5, 5, 3, 4, 5, 4, 3], 'corned beef': [5, 5]})

**Question 1: What is the average rating for each menu item?**<br>
**Question 2: Which menu item is most popular?**<br>
**Question 3: Which menu item is least popular?**

In [43]:
mean_ratings = {item: sum(ratings)/len(ratings) for item, ratings in item_ratings.items()}
df = pd.DataFrame(list(mean_ratings.items()),columns = ['Menu Item','Average Rating']) 
df = df.sort_values('Average Rating').reset_index(drop=True)
df

                Menu Item  Average Rating
0          chicken cutlet        3.400000
1         turkey sandwich        3.800000
2               spaghetti        3.888889
3            italian beef        3.920000
4                macaroni        4.000000
5              tuna salad        4.000000
6           italian combo        4.047619
7            garlic bread        4.128205
8              roast beef        4.142857
9                eggplant        4.159420
10               meatball        4.179688
11           chicken parm        4.220000
12               tiramisu        4.238095
13                 salami        4.250000
14       chicken parmesan        4.263158
15        italian sausage        4.301887
16                  pizza        4.339623
17                 pizzas        4.375000
18                   ziti        4.380952
19                cannoli        4.388889
20                  pasta        4.407767
21               pastrami        4.444444
22                calzone        4.444444
23           cheese steak        4.447368
24         mac and cheese        4.454545
25                lasagna        4.457627
26     chicken parmigiana        4.470588
27            cheesesteak        4.484536
28                gnocchi        4.486486
29         grilled veggie        4.500000
30             portobello        4.500000
31  chicken spinach salad        4.500000
32               calzones        4.542857
33          chicken pesto        4.555556
34          chicken salad        4.600000
35                purista        4.666667
36             prosciutto        4.680000
37                 reuben        4.750000
38       steak and cheese        4.888889
39     fettuccini alfredo        5.000000
40        artichoke salad        5.000000
41          turkey breast        5.000000
42            corned beef        5.000000

**df** contains the average rating for each menu item.<br>
By inspecting **df**, it is clear that **fettuccini alfredo**, **artichoke salad**,**turkey breast** & **corned beef**	are the most poular menu items.<br>
And, **chicken cutlet** is the least popular menu items.